.soft-blue {
  color: hsl(215, 51%, 70%);
}

.cyan {
  color: hsl(178, 100%, 50%);
}

.dk-blue-mainbg {
  background: hsl(217, 54%, 11%);
}

.dk-blue-cardbg {
  background: hsl(216, 50%, 16%);
}

.hr-color {
  background: hsl(215, 32%, 27%);
  min-height: 2px;
}

.white {
  color: hsl(0, 0%, 100%);
}

.w-300 {
  font-weight: 300 !important;
}

.w-400 {
  font-weight: 400 !important;
}

.w-600 {
  font-weight: 600 !important;
}

html, body {
  font-size: 18px;
  font-family: 'Outfit';
}

.container .row {
  min-height: 100vh;
}

.img {
  border-radius: 10px;
}

.card {
  border-radius: 10px;
}

#image-container {
  position: relative;
  width: 100%;
}

#image-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background: hsl(178, 100%, 50%, 50%);
  transition: .5s ease;
  border-radius: 10px;
}

#image-container:hover #image-overlay {
  opacity: 1;
}

.card-title:hover {
  color: hsl(178, 100%, 50%);
}

.profile {
  border: 1px solid #fff;
  border-radius: 50%;
}

a {
  text-decoration: none;
}

a:hover {
  color: hsl(178, 100%, 50%);
}

